<html>

<head>
   <title> PAV </title>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="style.css">
</head>

<body>
   <div class="card">
      
      <div class="title">
         <h2 style="text-align:center;">MICROSERVICE BASED CALCULATOR</h2>

         <div class="content">
               <form action="/action_page.php">
   
                  <input type="number" name="first"   step="any" placeholder="Enter the First Number">
                  <input type="number" name="second"  step="any" placeholder="Enter the Second Number">
                  <select id="op" name="operation" placeholder="Operation">
                     <option value="add">Addition</option>
                     <option value="minus">Subtraction</option>
                     <option value="multiply">Multiplication</option>
                  </select>
   
                  <input type="submit" value="SUBMIT">
               </form>
         </div>

         
      </div>
      
   </div>

</body>

</html>